body{
	background: whitesmoke;
	padding-top: 25vh;	
}

form{
	background: rgb(221, 216, 216);
}

.form-container{
	border-radius: 10px;
	padding: 30px;
    border-color: solid black;
}
.btn {
    background-color:rgb(15, 219, 93);
    border-color: black;
}
.form-footer{
    
    text-align: center;
border-radius: 10px;
background: rgb(221, 216, 216);
padding: 10px;
align-items: center;
}





a{
    font-size: 13px;
}